@import url("https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@400;500;700&family=Urbanist:wght@400;500;600;700;800;900&display=swap");

/* Base rule */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist";
}
html {
  font-size: 62.5%;
  /* 1 rem = 10px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins";
}

p,
li,
a {
  font-family: "Poppins";
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.1rem;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* theme */

:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --main-heading-color: #003b99;
  --white-color: #ffffff;
  --test: #070101;
  --btn-hover-bg-color: #003b99;
  --btn-box-shadow: 0px 7px 29px 0px rgba(100, 100, 111, 0.2);
  --para-color: #504e4d;
}

/* Layout */
.container {
  max-width: 128rem;
  padding: 0.5rem 0;
  margin: 0 auto;
}

.grid {
  display: grid;
}

.grid-two--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
.btn {
  display: inline-block;
  padding: 1rem 1.2rem;
  background-color: var(--main-color);
  box-shadow: var(--btn-box-shadow);
  color: var(--white-color);
  border-radius: 0.6rem;
  -webkit-border-radius: 0.6rem;
  -moz-border-radius: 0.6rem;
  -ms-border-radius: 0.6rem;
  -o-border-radius: 0.6rem;
}

/* module/resuable */

section .container {
  margin-top: 7rem;
}

section {
  margin-bottom: 7rem;
}

.fa-solid {
  padding: 2.4rem;
  font-size: 2rem;
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  color: var(--main-heading-color);
}

.common-section-heading {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
}

.common-section-subheading {
  color: var(--heading-color);
}

.common-section--title {
  font-size: 1.6rem;
  margin: 1.4rem 0 0.7rem 0;
}
/* states */

.btn:hover {
  background-color: var(--btn-hover-bg-color);
}

/* nav-bar section */

.nav-section {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.nav-section .logo-section .brand-title {
  font-size: 1.5rem;
}

.logo-section {
  display: flex;
  align-items: center;
}

.nav-section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container .nav-bar ul {
  display: flex;
  gap: 2.2rem;
  position: relative;

  & li a {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--heading-color);
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 2px solid var(--main-color);
      transition: width 0.3s linear;
      -webkit-transition: width 0.3s linear;
      -moz-transition: width 0.3s linear;
      -ms-transition: width 0.3s linear;
      -o-transition: width 0.3s linear;
    }
  }
  & li a:hover::after {
    width: 100%;
  }
}

/* nav-bar section end */

/* main section */
main {
  margin-bottom: 80px;
  position: relative;
  background-image: linear-gradient(
    to right top,
    #7a6bd1,
    #7a75d6,
    #7b80db,
    #7d89df,
    #8093e3,
    #7f97e6,
    #7f9ae9,
    #7e9eec,
    #779df0,
    #709bf3,
    #689af7,
    #5f99fb
  );
}

/* shape divider css */
.custom-shape-divider-bottom-1698039704 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1698039704 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-bottom-1698039704 .shape-fill {
  fill: #ffffff;
}

.main-section .grid {
  align-items: center;
  gap: 5.4rem;

  & .sub-heading {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1rem;
    font-size: 1.5rem;
    color: var(--main-heading-color);
  }

  & .main-heading {
    font-size: 4.4rem;
    text-transform: uppercase;
    color: var(--main-heading-color);
    font-weight: 900;
  }

  & .main-para {
    color: var(--white-color);
    margin: 1.7rem 0 2.2rem 0;
  }
}

.main-section .section-image img {
  width: 100%;
  height: auto;
}

/* main section end */

/* about section start */

.about-section .grid {
  gap: 5.4rem;
}
.about-section .about-div {
  text-align: center;
}

.about-section .container {
  margin-top: 7rem;
}
.about-section {
  margin-bottom: 7rem;
}
.about-section .icon img {
  padding: 2.4rem;
  width: 120px;
  height: auto;
  background-color: var(--supporting-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

.icon img:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  background: linear-gradient(to right, #0575e6, #021b79);
}
/* about section end */

/* course section start */

.course-section .container {
  margin-bottom: 7rem;
}

.course-section .grid {
  gap: 3.2rem;
}

.course-section .course-div {
  padding: 3.2rem;
}

.course-section .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(1) .icon .fa-solid {
  color: #687eff;
  background-color: #b6fffa;
}
.course-div:nth-child(2) .icon .fa-solid {
  color: #68bf9b;
  background-color: #e7f6e5;
}
.course-div:nth-child(3) .icon .fa-solid {
  color: #89cff3;
  background-color: #cdf5fd;
}
.course-div:nth-child(4) .icon .fa-solid {
  color: #ff8080;
  background-color: #b5cb99;
}
.course-div:nth-child(5) .icon .fa-solid {
  color: #d988b9;
  background-color: rgb(247, 223, 238);
}
.course-div:nth-child(6) .icon .fa-solid {
  color: #ff9b50;
  background-color: #f6dfce;
}
.course-div:nth-child(7) .icon .fa-solid {
  color: #1450a3;
  background-color: #dce9fa;
}

/* course section end */

/* why choose section start */
.choose-section .grid {
  gap: 4.5rem;
}

.why-choose--div {
  margin-top: 1.8rem;
}

.choose-section .text-align-right .why-choose--div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  text-align: right;
}

.common-text-highlight {
  width: 5rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  font-weight: 700;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-center--div img {
  width: 85%;
  border-radius: 1rem;
  height: auto;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div figure::before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-color: var(--main-color);
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
}
.choose-center--div figure::after {
  width: 45rem;
  height: 45rem;
  background-color: transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 0.5rem solid var(--supporting-color);
 
}

.choose-center--div figure::before{
  animation: circle 5s linear infinite;
  -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
  0%{
    background-color: #b3d0ff;
  }
  25%{
    background-color: #80b1ff;
  }
  50%{
    background-color: #4d91ff;
  }
  75%{
    background-color: #99c0ff;
  }
  100%{
    background-color: #3381ff;
  }
}
/* why choose section end */
