/* Grid is a two dimensional layout system that allows to design complex web layout with 
   rows & columns.
   

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(130, 110, 110);
}

.grid-container {
  margin: 100px auto;
  width: 80%;
  color: #d61a1a;
  background-color: blueviolet;
  display: grid;
  grid-template-rows: repeat(2, 200px);
  gap: 20px;
  grid-auto-rows:250px;

  /* align items */
  /* align-items: end; */
  /* align-items: center; */
  /* align-items: start; */
  /* align-items: stretch; */

  /* justify items */
  /* justify-items: start;
    justify-items: center;
    justify-items: end;*/
  /* justify-items: stretch; */

  /* grid-template-columns: repeat(3,1fr); */
  /* grid-template-columns: 1fr minmax(200px,1fr) 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px,1fr) ); */

  grid-template-columns: repeat(3, minmax(200px, 1fr));
}

@media (max-width:550px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.item {
  display: grid;
  place-items: center;
  font-size: 24px;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.item-1 {
  background-color: blue;
  /* grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4; */
  /* grid-area:row-start/column-start/row-end/column-end */
  /* grid-area: 2/2/3/3; */
}
.item-2 {
  background-color: beige;
}
.item-3 {
  background-color: rgb(31, 162, 57);
  /* grid-row:1/2;
    grid-column: 2/4; */
}
.item-4 {
  background-color: rgb(230, 137, 79);
}
.item-5 {
  background-color: rgb(12, 12, 135);
}
.item-6 {
  background-color: rgb(216, 242, 89);
}
