@import url("https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@100&family=Rubik:wght@400;500;700&family=Urbanist&display=swap");

@font-face {
  font-family: "rjfont";
  src: url("../fonts/Hello Januari.ttf") format(truetype);
}


/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Urbanist";
  background-color: hwb(0 99% 1%);
}

.container{
  width:80%;
}


/* Selector ✅*/
/* 1. Elements : name
   2. Class selector : dot
   3. Id selector : hash
   4. Pseudo class -> :
   5. HSL:color
 */
/* h1:hover {
  color: black;
}
h1 {
  color: transparent;
  color: hsl(0, 100%, 50%);
}
.para {
  color: #445d48;
  color: green;
  color: rgba(0, 0, 255, 0.5);
}
#btn {
  background-color: black;
  color: #fff;
}
#btn:hover {
  color: #fff;
  background-color: rgb(8, 0, 255);
} */

/* COlOR BONUS
    1. Hue: purest color
    2. Tint: A pure color with white added(right-left)
    3. Shade: A pure color with black added (top-down)
    4. Tone : A pure color with grey added (diagonally)
 */

/* BACKGROUND COLOR✅
    1. Background-color
    2. Background-position
    3. Background-image
    4. Background-size
    5. Background-repeat
    6. Background-attachment

  */
/* body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(0, 0%, 94%);
    background-image: url('../images/luffy.jpeg');
    /* ,url('../images/goku.jpeg') */
/* background-repeat: no-repeat; */
/* background-size: 100% 100%; */
/* background-position: top right; */
/* background-blend-mode: normal; */
/* } */

/* Units in CSS✅
     1. Absolute 
        a. pixels
     2. Relative
        a. percentage
        b. em : 1 em = 16px (run as per the parent element )
        c. rem : 1 rem = 10px (apply as per the root element html)
   */

/* h1{
    font-size: 3.375em;
    font-size: 54px;
    color: green;
   } */

/* html{
    font-size: 62.5%;
   }

   h1{
    font-size: 5.4rem;
   }
   p{
    font-size: 2.4rem ;
   }
   a{
    font-size: 1.4rem;
   } */

/* FONT FAMILY in CSS✅
      1.Font-size 
      2.Font-weight
      3.Font-family
      4.Font-style
      5.Font-variant
    */
/* body {
  display: grid;
  place-items: center;
  background-color: hsl(0, 0%, 94%);
}
.container {
  width: 50%;
} */
/* h1 {
  font-family: 'rjfont',"Urbanist", sans-serif;
  font-style: italic;
  font-variant: small-caps;
}
p {
  font-family: "Urbanist", sans-serif;
  font-weight: 400;
  font-style: italic;
  font-variant: small-caps;
}
a{
  font-family: 'Urbanist', sans-serif;
  font-style: italic;
} */

/* Text properties in CSS✅
   1. text-alignment
   2. text-decoration
   3. text-transform
   4. text-spacing
   5. text-shadow : offset-x offset-y blur-radius color
 */
/* h1 {
  font-size: 54px;
  text-align: left;
  text-decoration-line: none;
  text-decoration-color: rgb(233, 6, 6);
  text-decoration-thickness: 10px;
  text-decoration-style: none;
  text-transform: capitalize;
  text-shadow: 5px 5px 10px rgb(232, 9, 9);
}
a,
p {
  font-size: 18px;
  letter-spacing: 1px;
  word-spacing: 1.2px;
  line-height: 1.5;
}
a {
  text-decoration: none;
  color: red;
}
p::first-letter {
  text-transform: uppercase;
  font-size: 54px;
} */

/* CSS gradient✅
   1. linear gradient
     syntax:linear-gradient(direction,color)
     default direction: top-bottom
  */
/* section {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right top,
    rgba(5, 25, 55, 0.6),
    rgba(0, 77, 122, 0.6),
    rgba(0, 135, 147, 0.6),
    rgba(0, 191, 114, 0.6),
    rgba(168, 235, 18, 0.6)
  ),url('../images/pirateking.png');
  background-repeat: no-repeat;
  background-size: cover;
} */

/* 2.Radial gradient 
 syntax:linear-gradient(shape,color)
 */
 /* section{
  height: 100vh;
  width: 100%;
  background-image: repeating-radial-gradient(red ,yellow ,green 500px);
 } */

 /* LIST style in css ✅ 
    1.list-style-type
    2.list-style-postion
    3.list-style-image
 */
/* .list{
  width: 400px;
  padding: 30px;
  background-color: aqua;
  border-radius: 20px;
  box-shadow: 0 0 10px 0 black;
}

ul{
  list-style-type: lower-roman;
  list-style-position: inside;
  
}

li{
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 12px;
  border: 1px solid red;
} */

/* Anchor state✅ 
  1.link
  2.Hover
  3.visited
  4.active
*/
/* button{
  border-style: none;
}
a:link{
  margin-top: 15px;
  color: #fff;
  padding: 3px;
  text-decoration: none;
}
a:visited{
  color: brown;
}
a:hover{
  color: blue;
}
a:active{
  color: green;
} */

/* Combinator ✅
  1. Descendent  selector
  2. Ajacent sibling
  3. Child selector
  4. General sibling selector
 */

 /* .container h1{
  font-size: 40px;
 }

.container > p{
  color: blue;
}

.container .list ul > li{
  color: green;
} */

/* DISPLAY IN CSS✅ 
  1. Block level : no side by side content,take full width e.g <p> ,<h1>
  2. Inline : property like height , width cann't be used,only work for horizontal value
  3. Inline-block : to make inline element able to use block element property
*/
/* p{
  width: 300px;
  margin:0 auto;
  background-color: #e01b1b;
}
a{
  display: block;
  background-color: aqua;
}
.inline{
  display: inline;
} */

/* Overflow in css ✅
   1.overflow:visible
   2.overflow:hidden
   3.overflow:auto | USE THIS
   4.overflow:scroll
 */


 /* .container{
  width: 500px;
  height: 150px;
  border: 5px solid rgb(12, 198, 96);
  overflow: auto;
 } */

 /*  PSEUDO ELEMENT✅
   It uses :: double colon
   1. ::after
   2. ::before
   3. ::first-line
   4. ::first-letter
   5. ::placeholder
   6. ::selection
  */

  /*  PSEUDO CLASS✅
    1. ;first-child
    2. :last-child
    3. :nth-child()
    4. :first-of-type()
   */

   /* COLUMN LAYOUT ✅*/
   p{
    column-count: 4;
    text-align: justify;
    column-rule: 3px solid black;
    column-gap: 50px;
   }